.row
  .large-12.columns
    .panel
      %i.fa.fa-list Items
      %a.pull-right{:href => new_admin_item_path}
        %i.fa.fa-plus.fa-1x
    = search_form_for @q, remote: true, url: admin_items_path, :method => :get do |f|
      %table.tude.responsive
        %thead
          %tr.classy
            %th{width: 400}= sort_link(@q, :name, [:name, 'kind ASC'], 'Name')
            %th{width: 150}= sort_link(@q, :manufacturer, [:manufacturer, 'kind ASC'], 'Manufacturer')
            %th{width: 200}= sort_link(@q, :model, [:model, 'kind ASC'], 'Model')
            %th{width: 225}
        %tbody
          - @items.each do |item|
            %tr
              %td= item.name
              %td= item.manufacturer.name
              %td= item.modelname
              %td
                .button-group.radius.pull-right
                  %a.button.secondary.tiny{:href => item_path(item)}
                    %i.fa.fa-info.fa-fw

                  %a.button.secondary.tiny{:href => edit_admin_item_path(item)}
                    %i.fa.fa-pencil.fa-fw

                  = link_to admin_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert tiny" do
                    %i.fa.fa-trash-o.fa-fw
    %br
.row
  .large-12.columns
    = paginate @items
