.container#ishow
  .row
    .large-12.columns.fixwidth
      %ol.breadcrumbs
        %li
          %a{:href => "#"}= link_to 'Home', root_path
        %li.active= @item.name
  .row
    .heading.moon
      .large-6.columns
        .h2
          = @item.manufacturer.name
        .h1
          = @item.name
        %p.lead
          = @item.description
      .large-4.columns
        .right
          = image_tag @item.image.url(:medium).to_s, :class=>"th radius fixthumb"

.res
  .row
    .large-12.columns.fixwidth.fixh
      .ares.fixwidth
        %h3 Available Resources
      %table.table.table-striped.table-hover.fixwidth
        %thead
          %tr
            %th{width: 850}
              Filename
            %th{width: 100}
              Kind
        %tbody
          - if @item.documents.empty?
            = render 'empty'
          - else
            = render partial: 'document', collection: @item.documents
  -if user_signed_in?
    .row
      .large-2.columns
        = link_to "Edit", edit_admin_item_path(@item), class: 'button tiny'