%p#notice= notice

%p
  %b Name:
  = @document.name
%p
  %b Description:
  = @document.description
%p
  %b Filetype:
  = @document.doc.file.extension
%p
  %b Filelocation:
  = @document.doc.url

/ = link_to 'Edit', admin_edit_document_path(@document)
\|
= link_to 'Back', admin_documents_path